html, body {
    height: 100vh;
    height: 100%;
}

main {
    height: 70vh;
    height: 70%;
}

.card, .card-body{
    height: 100vh;
    height: 100%;
}

.list-group {
    max-height: 200px;
    overflow-y: auto;
}